<div class=" carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/restaurant.jpg" class="d-block w-100" alt="..." style="height:15em;">
    </div>
  </div>
</div>