<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Seeker</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <script src="https://kit.fontawesome.com/42855ce522.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet" />
</head>

<body style="background-color: #1C312F; font-family: 'Noto Sans TC';">
  <nav class="navbar navbar-dark" style="background-color: rgb(13, 24, 23); color: white;">
    <a class="navbar-brand" href="/">Restaurant Seeker</a>
    {{#if isAuthenticated}}
    <a href="/user/logout" class="btn btn-outline-light mr-0">Logout</a>
    {{else}}
    <a href="/user/login" class="btn btn-outline-light mr-0">Login</a>
    {{/if}}
  </nav>

  {{!-- <div class=" carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/restaurant.jpg" class="d-block w-100" alt="..." style="height: 50%;">
      </div>
    </div>
  </div> --}}



  <!-- partial template -->

  {{{body}}}


  <script src="/javascripts/jquery-3.3.1.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>

</html>