<form action="/restaurant/create" method="post">
  <div class="container mt-3">
    <div class="row">
      <h4 class="col-12 col-md-10 mx-auto py-3" style="background-color: #F4CB4F;">

        <div class="input-group" style="display: inline"><i class="fas fa-utensils pr-2"></i>餐廳名稱：
          <input type="text" class="form-control" placeholder="輸入餐廳名字" name="name" value="">
        </div>

      </h4>
      <div class=" col-12 col-md-10 mx-auto" style="color: white;">

        <p class="mb-1">
          <span>
            <i class="fas fa-filter pr-2"></i>
            類別：
          </span>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="輸入餐廳類別" name="category" value="">
        </div>
        </p>

        <p class="mb-1">
          <span>
            <i class="fas fa-map-marker-alt pr-2"></i>
            地址：
          </span>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="輸入餐廳地點" name="location" value="">
        </div>
        </p>

        <p class="mb-1">
          <span>
            <i class="fas fa-mobile-alt pr-2"></i>
            電話：
          </span>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="輸入餐廳電話" name="phone" value="">
        </div>
        </p>

        <p class="mb-1">
          <span>
            <i class="fas fa-star pr-1"></i>
            評分：
          </span>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="輸入餐廳評分" name="rating" value="">
        </div>
        </p>



        <p class="mb-1">
          <span>
            <i class="fas fa-comments pr-1"></i>
            描述：
          </span>
        <div class="input-group">
          <textarea class="form-control" aria-label="With textarea" placeholder="輸入餐廳描述" name="description"
            style="height: 5em;"></textarea>
        </div>
        </p>

        <p class="mb-1">
          <span>
            <i class="fas fa-image pr-1"></i>
            餐廳圖片(url)：
          </span>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="輸入餐廳圖片網址" name="image" value="">
        </div>
        </p>



        <div class=" text-center mb-3">

          <button type="submit" class="mx-auto btn btn-outline-light" style="border-color: #F4CB4F; ">完成</button>
          <a href="/">
            <button class="ml-3 btn btn-outline-light" type="button" style="border-color: #F4CB4F; ">返回</button>
          </a>

        </div>

      </div>
    </div>
  </div>
</form>